<!DOCTYPE html>
<html class="background">
<!-- <html style="background-color: #222;"> -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= config.title %></title>
        <%- css('bootstrap/css/bootstrap.min.css') %>
        <%- css('prism/prism.css') %>
        <%- js('bootstrap/js/bootstrap.bundle.min.js') %>
        <style>
            .backgroundC {
                background-color: #0A0A0A;
            }

            .mainC {
                background-color: #222;
            }

            .headC {
                background-color: #333;
            }

            .titleC {
                background-color: seagreen;
            }
        </style>
    </head>
    <body class="backgroundC">
    <!-- <body style="background-color: #222;"> -->
        <div class="main">
            <div class="container-fluid sticky-top bg-dark">
                <h1 class="container title bg-dark text-white">
                    <%= config.title %>
                </h1>
                <p class="container text-white"><%= config.subtitle %></p>
                <%- partial('_partial/menu') %>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-secondary">
                        <%- body %>
                    </div>
                    <%- partial('_partial/sidebar') %>
                </div>
            </div>
        </div>
        <%- js('prism/prism.js') %>
    </body>
</html>