<!DOCTYPE html>
<html class="background">
<!-- <html style="background-color: #222;"> -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= config.title %></title>
        <%- css('bootstrap/css/bootstrap.min.css') %>
        <%- css('prism/prism.css') %>
        <%- js('bootstrap/js/bootstrap.bundle.min.js') %>
        <style>
            .backgroundC {
                background-color: #0A0A0A;
            }

            .mainC {
                background-color: #222;
            }

            .headC {
                background-color: #333;
            }

            .titleC {
                background-color: seagreen;
            }

            img {
                max-width: 43vw;
                margin-top: 4px;
                margin-bottom: 4px;
            }

            @media(max-width: 800px) {
                img {
                    max-width: 90%;
                }
            }
        </style>
    </head>
    <body class="backgroundC">
    <!-- <body style="background-color: #222;"> -->
        <div class="main">
            <div class="container-fluid sticky-top bg-dark">
                <h1 class="container title bg-dark text-white hideOnScroll">
                    <%= config.title %>
                </h1>
                <p class="container text-white hideOnScroll"><%= config.subtitle %></p>
                <%- partial('_partial/menu') %>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-secondary">
                        <%- body %>
                    </div>
                    <%- partial('_partial/sidebar') %>
                </div>
            </div>
        </div>
        <%- js('prism/prism.js') %>
        <script>
            function checkScroll(event) {
                let elements = document.getElementsByClassName('hideOnScroll');
                let offset = window.scrollY;

                if (offset > 130) {
                    for (let e of elements) {
                        e.classList.add('d-none');
                    }
                } else if (offset == 0) {
                    for (let e of elements) {
                        e.classList.remove('d-none');
                    }
                }
            }

            document.addEventListener('scroll', checkScroll);
        </script>
    </body>
</html>