<div class="card mb-3 text-white mainC mt-3">

    <!-- Date and Author -->
    <div class="card-header headC">
        <%= item.date.format(config.date_format) %>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </div>

    <div class="card-body">
        <!-- Title -->
        <h3 class="card-title>
            <a href="<%- config.root %><%- item.path %>">
                <%- item.title %>
            </a>
        </h3>


        <p class="card-text">
            <!-- Content -->
            <%- item.excerpt || item.content %>
        </p>

        <!-- Only display the Read More link if we are displaying an excerpt -->
        <% if(item.excerpt) { %>
            <p>
                <a class="btn btn-success" href="<%- config.root %><%- item.path %>">
                    <%= theme.excerpt_link %>
                </a>
            </p>
        <% } %>
    </div>
</div>