<html>

    <%- partial('_partial/head') %>

    <body>

        <div class="container">
            <!-- Blog Header: title and subtitle -->
            <%- partial('_partial/header') %>
            
            <div class="row blog-container">

                <!-- Main Content -->
                <div class="col-sm-8 blog-main jumbotron shadow-sm">
                    <%- body %>
                </div>
    
                <!-- Sidebar visible only on screens bigger than sm-->
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar-big d-none d-sm-block">
                    <%- partial('_partial/sidebar') %>
                </div>

                <!-- Sidebar visible only on screens smaller than sm-->
                <div class="shadow-sm navbar navbar-expand-lg bg-light navbar-light fixed-top d-sm-none sidebar-small auto-hide" id="sidebar-accordion">
                    <div class="nav accordion mr-auto">
                        <% for(let widget in theme.widgets){ %>
                            <% if (theme.widgets[widget]['text']) { %>
                                <a class="nav-link sidebar-small-item" data-toggle="collapse" data-target="<%- '#' + widget + 'menu' %>" aria-expanded="false"><%- theme.widgets[widget]['title'] %></a>
                            <% } %>
                        <% } %>
                    </div>
                    <div>                        
                        <% for(let widget in theme.widgets){ %>
                            <% if (theme.widgets[widget]['text']) { %>
                                <div class="collapse text-muted p-4" data-parent="#sidebar-accordion" id="<%- widget + 'menu' %>"><%- theme.widgets[widget]['text'] %></div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
    
        </div>

        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>

        <!-- Icons from Feather -->
        <script>
            feather.replace();
        </script>
    </body>
</html>