<html>

    <%- partial('_partial/head') %>

    <body>

        <div class="container">
            <!-- Blog Header: title and subtitle -->
            <%- partial('_partial/header') %>
            
            <div class="row blog-container">

                <!-- Main Content -->
                <div class="col-sm-8 blog-main jumbotron">
                    <%- body %>
                </div>
    
                <!-- Sidebar -->
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <%- partial('_partial/sidebar') %>
                </div>
            </div>
    
        </div>

        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>

        <!-- Icons from Feather -->
        <script>
            feather.replace();
        </script>
    </body>
</html>